#header
{
    width: 100%;
    text-align: center;
}

#mainspace

{
    width: 100%;
}

#diebuttons
{
    display: flex ;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
}
.wrapper
{
    display: flex ;
    text-align: center;
    flex-wrap: wrap;
    align-items: stretch;
    justify-items: flex-start;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    }

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    }

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
}

.flex-container
{
    display: flex;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th {
    font-weight: bold;
}